langchain
langchain-community
langchain-openai
langchain-core
faiss-cpu
chromadb
tiktoken
python-dotenv
pypdf
pymupdf
openpyxl
jq  
matplotlib

# Embeddings
langchain-huggingface
sentence-transformers
langchain-experimental

rank_bm25
wikipedia
langgraph-cli[inmem]