langchain
langsmith
openai
langchain-community
langchain-openai
langchain-core
langchain-tavily
langgraph-supervisor
faiss-cpu
chromadb
tiktoken
python-dotenv
pypdf
pymupdf
openpyxl
jq  
matplotlib

# Embeddings
langchain-huggingface
sentence-transformers
langchain-experimental

ipykernel
rank_bm25
wikipedia
langgraph-cli[inmem]

pandas